<!Doctype>
<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">
    </head>
    <body>
        <div id="app" class="container">
            <form v-on:submit.prevent="handleSubmit">
            <div class ="bg-info p-5 rounded m-5">
                <div class ="h2 text-center">
                    Learn Vue - Form
                </div>
                <hr />
                <div>
                    <ul>
                        <li v-for="error in errorList" class="text-danger">
                            {{error}}
                        </li>
                    </ul>
                </div>
                <div class="input-group mt-3">
                    <span class = "input-group-text">Email</span>
                    <input type="text" class ="form-control"  v-model.trim="formobj.email" >
                </div>
                <div class="input-group mt-3">
                    <span class = "input-group-text">Name</span>
                    <input type="text" class ="form-control" v-on:blur="validateName()" v-model.trim="formobj.name" >
                </div>
                <div v-if="!formobj.isNameValid" class="text-danger">Name should be atleast 3 character long.</div>
                <div class="input-group mt-3">
                    <span class = "input-group-text">Phone Number</span>
                    <input type="number" class ="form-control" v-model.number="formobj.phone" >
                </div>
                <br>
                <div class="border pt-1">
                    <label class="form-label">Gender</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="formobj.gender" 
                        value="male" name="inlineRadioOptions">Male</input>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="formobj.gender" 
                        value="female" name="inlineRadioOptions">Female</input>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="formobj.gender" 
                        value="other" name="inlineRadioOptions">Other</input>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" v-model="formobj.gender" 
                        value="prefer_not_to_say" name="inlineRadioOptions">Prefer Not To Say</input>
                    </div>
                    <br/>
                    <hr>
                    <select id="gender" v-model="formobj.gender" class="form-select">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                        <option value="prefer_not_to_say">Prefer Not To Say</option>
                    </select>
                    <br>
                </div>
                <div class="input-group mt-3">
                    <input type="checkbox" class ="form-check-input" v-model="formobj.subscribe" >
                    <label class="form-check-label">&nbsp; Subscribe to Newsletter</label>
                </div>
                
                
                <div class ="text-center pt-3">
                    <button class="btn btn-success m-2 w-50">
                        Submit 
                    </button>
                </div>
              
            </div>
            </form>
        </div>
    </body>
    <script>
        const {createApp,ref, reactive, computed, watch } = Vue;
        createApp({
            setup(){
                const formobj= reactive({
                    email: "",
                    name:"",
                    phone:"",
                    subscribe:false,
                    gender:"male",
                    isNameValid:true,
                });
                
                const errorList=reactive([]);


                function handleSubmit(){
                    errorList.length=0;
                    if(formobj.name.length<=3){
                        errorList.push("Name should be at least 3 character long!")
                    }
                    if(formobj.email==""){
                        errorList.push("Email should not be empty!")
                    }
                    if(formobj.phone==""){
                        errorList.push("Phone number cannot be empty!")
                    }
                    
                    console.log(formobj);
                    if(!errorList.length){
                        alert("Form Submitted successfully!")
                    }
                }
                
                function validateName(){
                    if(formobj.name.length<=3){
                        formobj.isNameValid=false;
                    }
                    else {
                        formobj.isNameValid=true;
                    }
                }

                return {
                    formobj,
                    handleSubmit,
                    validateName,
                    errorList
                };
            }
        }).mount('#app');
    </script>
</html>